/* CHAT BUBBLE ICON */
.vfrc-launcher {
    background-image: url('https://highsky.ai/assets/BS-HMfK6MCT.png') !important;
    background-size: contain !important;
    background-position: center !important;
    width: 60px !important; /* Adjust width as needed */
    height: 60px !important; /* Adjust height as needed */
    border: none !important; /* Remove any borders */
    padding: 0 !important; /* Remove any padding */
  }
  
  /* Ensure the existing icon is not visible */
  .vfrc-launcher img {
    display: none !important;
  }